@page
@model MyApp.Namespace.AdminModel
@{
}

<section class="w3l-content-with-photo-11">
	<div class="contentwithphoto-11 py-5">
		<div class="container py-md-3">
            <div style="margin-bottom:10px;"class="tabelaRez-info">
                <div class="tab">
                    <button class="tablinks" onclick="openTable(event, 'Reservations')">Reservations</button>
                    <button class="tablinks" onclick="openTable(event, 'Hotels')">Hotels</button>
                    <button class="tablinks" onclick="openTable(event, 'Users')">Users</button>
                </div>

                <div id="Reservations" class="tabcontent">
                    <form method="post" class="rez-tabela">
                        <h4 class="predstojece-rez">Reservations</h4>
                        @if(Model.rezervacije.Count==0)
                        {
                            <label class="nema-rez">There are no reservations!</label>
                        }
                        else
                        {
                            <div style="overflow-y:scroll; height:500px;">
                                <table id="offers1" class="table" style="width:95%;">
                                    <thead>
                                        <tr>
                                            <th>User's name</th>
                                            <th>User's email</th>
                                            <th>User's phone</th>
                                            <th>Date</th>
                                            <th>Hotel</th>
                                            <th>Hotel's phone</th>
                                            <th>Manager's name</th>
                                            <th>Manager's email</th>
                                            <th>Manager's phone</th>
                                            <th>Offer</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(int i = 0; i<@Model.rezervacije.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.rezervacije.ElementAt(i).Ime</td>
                                                <td>@Model.rezervacije.ElementAt(i).Prezime</td>
                                                <td>@Model.rezervacije.ElementAt(i).BrojTelefona</td>
                                                <td>@Model.rezervacije.ElementAt(i).datumKreiranja.ToString("dd.MM.yyyy.")</td>
                                                <td><a asp-page="/Hotel-Single" asp-route-id="@Model.hoteliRezervacija.ElementAt(i).Id">@Model.hoteliRezervacija.ElementAt(i).Naziv</a></td>
                                                <td>@Model.hoteliRezervacija.ElementAt(i).brojTelefona</td>
                                                <td>@Model.menadzeriRezervacija.ElementAt(i).ime @Model.menadzeriRezervacija.ElementAt(i).prezime</td>
                                                <td>@Model.menadzeriRezervacija.ElementAt(i).email</td>
                                                <td>@Model.menadzeriRezervacija.ElementAt(i).brtelefona</td>
                                                <td>@Model.aranzmaniRezervacija.ElementAt(i).pocetak.ToString("dd.MM.yyyy.") - @Model.aranzmaniRezervacija.ElementAt(i).kraj.ToString("dd.MM.yyyy.")</td>
                                                <td>@Model.aranzmaniRezervacija.ElementAt(i).cena</td>
                                                <td>@Model.rezervacije.ElementAt(i).status</td>
                                                <td><button class="otkaziRez" asp-route-id="@Model.rezervacije.ElementAt(i).Id" asp-page-handler="ObrisiRez" onclick="return confirm('Are you sure you want to delete this reservation?');">Delete</button></td>
                                                @if(Model.rezervacije.ElementAt(i).status=="Na cekanju"){
                                                <td><button class="otkaziRez" asp-route-id="@Model.rezervacije.ElementAt(i).Id" asp-page-handler="StatusAktivno" onclick="return confirm('Are you sure you want to change status to Aktivno?');">Aktivno</button></td>}
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </form>
                </div>

                <div id="Hotels" class="tabcontent">
                    <form method="post" class="rez-tabela">
                        <h4 class="predstojece-rez">Hotels</h4>
                        @if(Model.hoteli.Count==0)
                        {
                            <label class="nema-rez">There are no hotels!</label>
                        }
                        else
                        {
                            <div style="overflow-y:scroll; height:500px;">
                                <table id="offers1" class="table" style="width:95%;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Hotel's phone</th>
                                            <th>Manager's name</th>
                                            <th>Manager's email</th>
                                            <th>Manager's phone</th>
                                            <th>State</th>
                                            <th>City</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(int i = 0; i<@Model.hoteli.Count; i++)
                                        {
                                            <tr>
                                                <td><a asp-page="/Hotel-Single" asp-route-id="@Model.hoteli.ElementAt(i).Id"><img src="@Model.hoteli.ElementAt(i).GlavnaSlika" style="width:150px; height:90px;"></a></td>
                                                <td><a asp-page="/Hotel-Single" asp-route-id="@Model.hoteli.ElementAt(i).Id">@Model.hoteli.ElementAt(i).Naziv</a></td>
                                                <td>@Model.hoteli.ElementAt(i).brojTelefona</td>
                                                <td>@Model.menadzeri.ElementAt(i).ime @Model.menadzeri.ElementAt(i).prezime</td>
                                                <td>@Model.menadzeri.ElementAt(i).email</td>
                                                <td>@Model.menadzeri.ElementAt(i).brtelefona</td>
                                                <td>@Model.hoteli.ElementAt(i).Drzava</td>
                                                <td>@Model.hoteli.ElementAt(i).Grad</td>
                                                <td><button class="otkaziRez" asp-route-id="@Model.hoteli.ElementAt(i).Id" asp-page-handler="ObrisiHotel" onclick="return confirm('Are you sure you want to delete this hotel?');">Delete</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </form>
                </div>

                <div id="Users" class="tabcontent">
                    <form method="post" class="rez-tabela">
                        <h4 class="predstojece-rez">Users</h4>
                        @if(Model.korisnici.Count==0)
                        {
                            <label class="nema-rez">There are no users!</label>
                        }
                        else
                        {
                            <div style="overflow-y:scroll; height:500px;">
                                <table id="offers" class="table" style="width:95%;">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Hotel</th>
                                            <th>email</th>
                                            <th>Phone</th>
                                            <th>City</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(int i = 0; i<@Model.menadzeri.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.menadzeri.ElementAt(i).ime @Model.menadzeri.ElementAt(i).prezime</td>
                                                <td><a asp-page="/Hotel-Single" asp-route-id="@Model.hoteliMenadzera.ElementAt(i).Id">@Model.hoteliMenadzera.ElementAt(i).Naziv</a></td>
                                                <td>@Model.menadzeri.ElementAt(i).email</td>
                                                <td>@Model.menadzeri.ElementAt(i).brtelefona</td>
                                                <td>@Model.menadzeri.ElementAt(i).grad</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </form> 
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function openTable(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>