@page
@model MyApp.Namespace.DestinationsModel
@{
}

<!-- //covers -->
<!---728x90--->

<section class="w3l-features-8">
       <!-- /features -->
           <div class="features py-5" id="services">
			<div class="container py-md-3">

		@foreach (var drzava in Model.listaDrzava)
		{
			<div class="heading text-center mx-auto">
				<h3 class="head">@drzava.naziv</h3>
				
		 	</div>
		
			   <div class="fea-gd-vv text-center row mt-5 pt-3" style="padding-bottom: 3rem">
				   	
					@foreach (var grad in drzava.gradovi)
					{
						<div class="float-top col-lg-4 col-md-6">	
							<a asp-route-grad="@grad.naziv" asp-route-drzava="@drzava.naziv" asp-page="/Hotels"><img src="@grad.slika" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a asp-route-grad="@grad.naziv" asp-route-drzava="@drzava.naziv" asp-page="/Hotels">@grad.naziv</a> </h3>
										<p> @grad.opis</p>			
							</div>
						</div>
					}
					
											 				 
		     	</div>  
		}
			
		    </div>
          </div>
      <!-- //features -->
</section>
<!---728x90--->

