@page
@model MyApp.Namespace.HotelsModel
@{
}

<head>
	<title>eTourist | Hotels</title>
</head>
<section class="w3l-inner-banner-main">
    <div class="about-inner portfolo-1">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-page="/Index"><span class="fa fa-home" aria-hidden="true"></span> <span class="fa fa-angle-double-right" aria-hidden="true"></span></a></li>
                <li class="active">Hotels / </li>
				@if(Model.hoteli.Count>0){
				<li class="active">@Model.hoteli.ElementAt(0).Drzava / </li>
				<li class="active">@Model.hoteli.ElementAt(0).Grad</li>}
            </ul>
        </div>
    </div>
</section>
<section class="w3l-blog-main-61">
	<div class="grids-layout py-5">
		<div class="container py-md-3">
			<div class="gallery-25-content">
				<div class="d-grid grid-columns">
				@foreach(var h in @Model.hoteli)
				{
					<div class="blg-tp" style="max-height:310px;">

						<div class="column one-blog">
							<div class="box13">
								<a asp-page="/Hotel-Single" asp-route-id="@h.Id"><img class="side-img" src="@h.GlavnaSlika" style="max-height:310px;" alt="" /></a>
							</div>
						</div>

						<div class="column two two-blog">
							<div class="box13">
								<div style="display:flex; flex-direction:column;">
									<h3><a asp-page="/Hotel-Single" asp-route-id="@h.Id">@h.Naziv</a></h3>
									<div>
										@for(int i = 0;i<@h.brojZvezdica;i++){
											<span class="fa fa-star checked" style="color:orange;"></span>
										}
									</div>
								</div>
								<ul class="admin-list" style="display:flex; flex-direction:column;">
									<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span> WiFi</li>
									<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span> Phone: @h.brojTelefona</li>
								</ul>
								<div class="button" style="margin-top:40px;"><a asp-page="/Hotel-Single" asp-route-id="@h.Id" class="btn btn-theme4 mt-3">Details </a></div>
							</div>
						</div>

					</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>