@page
@model MyApp.Namespace.ProfileModel
@{
}

<section class="w3l-content-with-photo-11">
	<div class="contentwithphoto-11 py-5">
		<div class="container py-md-3">
            <div style="margin-bottom:10px;"class="tabelaRez-info">
                <div class="tab">
                    <button class="tablinks" onclick="openTable(event, 'Reservations')">Reservations</button>
                    <button class="tablinks" onclick="openTable(event, 'Offers')">Offers</button>
                    <button class="tablinks" onclick="openTable(event, 'Rooms')">Rooms</button>
                </div>

                <div id="Reservations" class="tabcontent">
                    <h4 class="predstojece-rez">Reservations</h4>
                    <div>
                        <select id="sobaOznaka">
                            <option value="0">Room</option>
                            @for(int i = 0; i<@Model.sobe.Count; i++){
                                <option value="@Model.sobe.ElementAt(i).oznaka">@Model.sobe.ElementAt(i).oznaka (@Model.sobe.ElementAt(i).brojMesta)</option>}
                        </select>
                        <button type="submit" onclick="vratiRez()">See availability</button>
                        <div style="overflow-y:scroll; height:500px; margin-top:20px;">
                            <table id="offers1" class="table" style="width:95%;">
                                <thead>
                                    <tr>
                                        <th>Date of reservation</th>
                                        <th>Status</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                    </tr>
                                </thead>
                                <tbody id="soba">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div id="Offers" class="tabcontent">
                    <h4 class="predstojece-rez">Offers</h4>
                    <button ><a asp-page="/AddAranzman" asp-route-hotelId=@Model.hotel.Id.ToString()> Add offer</a></button>
                    @if(Model.aranzmani.Count==0)
                    {
                        <label class="nema-rez">There are no offers!</label>
                    }
                    else
                    {
                        <div style="overflow-y:scroll; height:500px;">
                            <table id="offers1" class="table" style="width:95%;">
                                <thead>
                                    <tr>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var a in @Model.aranzmani)
                                    {
                                        <tr>
                                            <td>@a.pocetak.ToString("dd.MM.yyyy.")</td>
                                            <td>@a.kraj.ToString("dd.MM.yyyy.")</td>
                                            <td>@a.cena</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div id="Rooms" class="tabcontent">
                    <h4 class="predstojece-rez">Rooms</h4>
                        @if(Model.sobe.Count==0)
                        {
                            <label class="nema-rez">There are no rooms!</label>
                        }
                        else
                        {
                            <div style="overflow-y:scroll; height:500px;">
                                <table id="offers1" class="table" style="width:95%;">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Num. of beds</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var s in @Model.sobe)
                                        {
                                            <tr>
                                                <td>@s.oznaka</td>
                                                <td>@s.brojMesta</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                </div>    
            </div>    
        </div>
    </div>
</section>

<script>
   function openTable(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<script>
function vratiRez(){
    var soba = document.getElementById('sobaOznaka').value;
    console.log(soba);
    $.ajax({
        type: "GET",
        url: '/Profile?handler=Soba',
        beforeSend: function (xhr) {
        xhr.setRequestHeader("XSRF-TOKEN",
            $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        data: {oznaka:soba},
        success: function (response) {
            $("#soba").empty();
            if(response.length!=0){
                var body = document.getElementById('soba');
                for(var i = 0; i < response.datum.length; i++)
                {
                    var red = document.createElement("tr");
                    body.appendChild(red);
                    var celija1 = document.createElement("td");
                    celija1.innerHTML = response.datum[i];
                    red.appendChild(celija1);
                    var celija2 = document.createElement("td");
                    celija2.innerHTML = response.status[i];
                    red.appendChild(celija2);
                    var celija3 = document.createElement("td");
                    celija3.innerHTML = response.pocetak[i];
                    red.appendChild(celija3);
                    var celija4 = document.createElement("td");
                    celija4.innerHTML = response.kraj[i];
                    red.appendChild(celija4);
                }
            }
        }
    })
}
</script>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>